html,
body{
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background-color: rgba(98, 243, 236, 0.801);
  background-image: '/Users/chrisdavidmerlino/Projects/Makers/week-5/Thermostat_Wednesday/jasmine-standalone-3.5.0/public/images/therm.svg';
}

h2{
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px
} 

h1{
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px
} 

button {
  background-color: rgb(231, 208, 74);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 }

input {
  border-style: dotted;
  font-size: 16px;
  padding: 16px;
}

 #city-button {
  background-color: rgb(231, 208, 74);
   border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   font-size: 16px;
  margin: 4px 2px;
 }

 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(231, 208, 74);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.low-usage {
  color: green;
  .char {
    --name: yell;
    --dur: 3s;
    --tf: ease;
    
    transform-origin: 50% 100%;
  }
  
  @keyframes {
    3% {
      transform:
        scale(calc(1 * var(--distance-percent) + 1.5)) 
        rotate(calc(15deg * var(--distance-sine)))
        translateY(-10%);
    }
    6% {
      transform:
        scale(calc(1 * var(--distance-percent) + 1.2)) 
        rotate(calc(15deg * var(--distance-sine)))
        translateY(-10%);
    }
    12% {
      transform:
        scale(calc(1 * var(--distance-percent) + 1.5)) 
        rotate(calc(15deg * var(--distance-sine)))
        translateY(-10%);
    }
    18% { transform: scaleY(1) translateY(-2%); }
    25% { transform: scaleY(0.98); }
    50% { transform: scaleY(1); }
    75% { transform: scale(0.98); }
  }
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

}